<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-5">

      <%= simple_form_for [@plant, @plant_tag] do |f| %>
        <%= f.association :tag, input_html: { multiple: true }, include_hidden: false  %>

        <%= f.button :submit, class: "btn btn-secondary" %>
      <% end %>

    </div>
  </div>
</div>
