<div class="container">
  <%= simple_form_for [@garden, @plant] do |f| %>

    <%= f.input :name %>
    <%= f.input :image_url %>

    <%= f.button :submit, class: "btn btn-secondary w-100" %>
  <% end %>
</div>
